.row {

    color: azure;
    display: flex;

}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;

    font-family: open sans, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #26374c;
    border-bottom: 1px solid #dbe1ea;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);

}

.navbar-nav {
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 1440px;
    padding: 10px 16px;
    margin: 0 auto;
    flex-flow: row nowrap;
    box-sizing: border-box;
}

.nav-link {
    color: #26374c;
    ;
    text-wrap: unset;
    font-family: "open sans", sans-serif;
    font-size: medium;
    font-weight: 600;
}

.nav-link:hover {
    color: beige;
    background-color: rgb(220, 215, 224);
}

.nav-item {
    margin: 10px;
    padding: 20px 20px 19px;
}

.table {
    text-align: center;
}

.table_head {
    justify-content: center;
}


table-body {
    border-bottom: 1px solid #ebeef2;
}

#table-body div{
    text-align: center;
    justify-content: center;
    display: flex;
    height: 100%;
    align-items: center;
}

#table-body td{
    height: 50px;
}

#table-body img{
    height: 50px;
    width: 50px;
}

#pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
#pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
.disabled
{
    cursor: not-allowed;
    color: rgb(135, 129, 171);
    font-size: 30px;
    
}
.enable{
    color: rgb(95, 143, 138);
    font-size: 30px;
}
#search_bar
{ 
    
    border: 2px solid rgb(95, 171, 242);
    border-radius: 5px;
    border-radius:circle;
}
.search
{
    display: flexbox;
    justify-content: center;
    
}
