*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
 text-transform: capitalize;
 letter-spacing: .5px;
}

.card-container{
    width: 45%;
    margin: 4rem auto;
    display: flexbox;
    justify-content: center;
    justify-self: center;
   
    
}
.card
{ margin-top: 10px;
    padding: 2rem;
    box-shadow: 0 0 .4rem rgb(0,0,0,0.2);
  
}
.card:hover
{
    background: rgba(115, 192, 225, 0.041);
}
.card-heading{
    color:rgb(198, 93, 183);
    margin-bottom: .5rem;
}
cord-body
{
    color: rgb(44, 220, 44);
}
#img{
    height: 40px;
    width: 40px;
    font-size: 40px;
}
#coin
{
  font-size: 19px;
}